<div id="{{__SELF__}}_carousel" 
	class="carousel slide {{item.carousel_setting.crossfade ? 'carousel-fade' : ''}}" 
	data-interval="{{item.carousel_setting.interval}}"
	{% if item.carousel_setting.ride %}
	data-ride="carousel"
	{% endif %}
>
	
	{% if item.carousel_setting.indicators %}
	<ol class="carousel-indicators">
		{% for media in item.content %}
		<li data-target="#{{__SELF__}}_carousel" data-slide-to="{{loop.index0}}" class="{{loop.first ? 'active' : ''}}"></li>
		{% endfor %}
	</ol>
	{% endif %}
	
	<div class="carousel-inner">
		{% for media in item.content %}
		<div class="carousel-item {{loop.first ? 'active' : ''}} carousel-item-{{loop.index0}}" >
	    	{% set text = (item.params.caption_mode == 'all') ? item.desc : media.text %}
	    	{% partial __SELF__~'::_'~media.type media=media item=item text=text %}
	    </div>
	    {% endfor %}
	</div>

	{% if item.carousel_setting.controls %}
	<a class="carousel-control-prev" href="#{{__SELF__}}_carousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#{{__SELF__}}_carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	{% endif %}
</div>